.nav-link{
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover{
    opacity: .6;
}

.imagen-nav{
    width: 6%;
    margin-left: auto;
    margin-right: auto;
}

.nav-input-busqueda:focus{
    outline: none !important;
}


@media only screen and (max-width: 1000px) {

    .imagen-nav-contenedor {
        display: none !important;
    }
}